<?xml version="1.0"?>

<model>
  <name>MBZIRC Naive 3D Scanning Radar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Ian Chen</name>
    <email>ichen@openrobotics.org</email>
  </author>

  <description>
    A simple naive radar sensor model using a 3D GPU LiDAR
  </description>
</model>
