<?xml version="1.0"?>

<model>
  <name>MBZIRC Oberon7 Gripper</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <description>
    Oberon7 parallel gripper for MBZIRC

    The base model description is generated using the urdf files from:
    https://github.com/Field-Robotics-Lab/uuv_manipulators/tree/master/oberon7/oberon7_description
    https://github.com/Field-Robotics-Lab/dave/tree/master/urdf/manipulators/dave_oberon7_description
  </description>
</model>
